webc-container.landing-webc-container{
    display: flex;
}

.landing-profile-picture{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

header,
.logo-container,
.landing-profile-picture{
    background:#FFFFFF;
}

.logo-container .img-fluid{
    max-width: 70%;
}
.landing-profile-picture picture{
    z-index: 2;
}

.landing-profile-picture img{
    width: 128px;
    border-radius: 50%;
}

.landing-profile-picture:after{
    position: absolute;
    background: #00345b;
    width: 100%;
    top: 51%;
    height: 64px;
    z-index: 1;
    content: "";
}

.main-navigation{
    background: #00345b;
}

.main-navigation .container{
    padding: 0 15px;
}
.main-navigation .col-6{
    justify-content: center;
    padding: 1rem;
    display: flex;
    color:#FFFFFF;
}

.navigation-btn{
    background: none;
    border: none;
    outline: none;
    padding: 0.5rem;
    font-size: 1.25rem;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navigation-btn:focus,
.navigation-btn:hover{
    outline: none;
    color:#efefef;
}

.navigation-btn i{
    padding: 0.75rem;
    border: 1px solid #FFF;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}
.share-did{
    background: #00345b
}
.share-did-input[readonly]{
    background-color: #1b5e91;
    color: #fff;
    border: none;
    text-align: center;
    border-radius: 3px 0 0 3px;
}
.share-did-btn{
    background: #1b5e91;
    color: #FFF;
    border-color: #1b5e91;
    border-left-color: #00345b;
}
.share-did-btn:focus,
.share-did-btn:active,
.share-did-btn:not(:disabled):not(.disabled):active,
.share-did-btn:hover{
    background: #164e78;
    border-color: #1b5e91;
    border-left-color: #00345b;
    box-shadow: none;
}

/* Feedback page */

.feedback-container{
    display: flex;
    flex-direction: column;
}

.feedback-btn{
    background:none;
    border:none;
    outline:none;
    display: flex;
    color: #FFF;
    align-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    margin:1rem;
}

.feedback-btn:focus,
.feedback-btn:hover {
    outline: none;
}

.feedback-btn i{
    color:#008798;
    margin:0 0.75rem 0 0;
}

.feedback-item-container{
    text-align: left;
    padding-bottom: 0.5rem;
    border-bottom:1px solid #FFFFFF;
    width: 100%;
}

.feedback-item-container p.title{
font-weight: bold;
margin:0 0.5rem 0.25rem 0;
}