@import url("fonts/fontawesome/font-awesome.min.css");
@import url("bootstrap/css/bootstrap.min.css");
@import url("sections/landing.css");
@import url("sections/notifications.css");
@import url("sections/header.css");

:root {
    --webc-app-menu-mode: none
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

