@import url("fonts/fontawesome/font-awesome.min.css");
@import url("bootstrap/css/bootstrap.min.css");
@import url("sections/landing.css");
@import url("sections/notifications.css");
@import url("sections/header.css");
@import url("sections/button.css");
@import url("sections/questionnaire.css");
@import url("sections/calendar.css");
@import url("sections/datatable.css");
@import url("sections/feedback.css");
@import url("sections/studies.css");
@import url("sections/consents-history.css");
@import url("sections/consent-preview.css");

:root {
    --webc-app-menu-mode: none
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
